{{#if loggedIn}}
<button type="submit" class="btn"><a class="link text-center" href="/dashboard/new">Add New Post</a></button>
{{/if}}



<article class="post" >
    {{#each posts}}
    <input type="hidden" name="post-id" value="{{id}}"/>
    <div class="bg-white border mt-2 card" style="width: 75%; max-height: 300px" id='{{id}}'>
    <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">                                           
        <a href='/post/{{this.id}}' class={{this.content}}>
        <p class="card-text">{{this.content}}</p>
            <img style="max-height: 200px" src='{{this.image}}' alt='{{this.content}}' />            
        </a>
        <div class='caption'>
                <div class="level-left card" id='{{id}}' >
            <span class="card-header-title level-item" aria-label="heart emoji">
                {{#if post.likes}}
                <strong id="like-post" postId="{{id}}" class="like-post">
                    <i class="fas fa-heart"></i>
                    <span class="likes-counter" data-value="{{likes.length}}">{{likes.length}} likes</span>
                </strong>
                {{else}}
                <strong id='like-post' postId={{id}} class='like-post'><i class='far fa-heart'></i>
                <span class='likes-counter' data-value={{likes.length}}></span>{{likes.length}} likes</span>                
                 </strong>
                {{/if}}
            </span>    
            
            <button class="btn btn-primary" id="like-btn"><i class="fa fa-thumbs-up"></i></button>
        </div>
                
                <h3> <i class='fa fa-comment'></i><span> {{comments.length}}</span></h3>
            </div>
        <h4 class="card-subtitle mb-2 text-muted col-3">posted by {{user.username}} on {{formatDate created_at}}</h4>
    </div>
    </div>
    <script src="/js/likepost.js"></script>
    {{/each}}

    


    
</article>