<div class="bg-white border mt-2">
    <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">    
        {{#if loggedIn}}
        <div class="d-flex flex-column flex-wrap ml-2">            
            <button class="btn btn-danger" id="del-post-btn">Delete Post</button>            
            <a class="btn btn-secondary" href="/dashboard/edit/{{post.id}}"><span class="icon"><i class="fa fa-pen"></i></span>Edit Post</a>
        </div>
        {{/if}}
    </div>

    <input type="hidden" name="post-id" value="{{post.id}}"/>
    
    <div class="card-body">        
        <p id="post-content">{{post.content}}</p>
        <div class="column">    
            <img src="{{post.image}}" alt="{{post.content}}" />
            <div class="col-3">posted by {{post.user.username}} on {{formatDate post.created_at}}</div>
        </div>

        <div class="level-left card" id='{{id}}' >
            <span class="card-header-title level-item" aria-label="heart emoji">
                {{#if post.likes}}
                <strong id="like-post" postId="{{id}}" class="like-post">
                    <i class="fas fa-heart"></i>
                    <span class="likes-counter" data-value={{post.likes.length}}>{{post.likes.length}} likes</span>
                </strong>
                {{else}}
                <strong id='like-post' postId={{id}} class='like-post'><i class='far fa-heart'></i>
                <span class='likes-counter' data-value={{post.likes.length}}></span>{{post.likes.length}} likes</span>                
                 </strong>
                {{/if}}
            </span>    
            
            <button class="btn btn-primary" id="like-btn"><i class="fa fa-thumbs-up"></i></button>
        </div>

        <div class="">
            {{> commentCard post.comments}}
        </div>

        {{#if loggedIn}}
        <form class="comment-form p-5">
        <div class="control">
            <textarea class="form-input" placeholder="Write your comment" id="comment-text"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" id="commentBtn" data-id={{post.id}}>Submit</button>
        {{/if}}
        
    </form>
    </div>
</div> 

<script src="/js/deletepost.js"></script>
<script src="/js/comment.js"></script>