 <div class="bg-white border mt-2">
        <div>
          <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
              <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{post.user.username}}</span><span class="text-black-50 time">{{post.created_at}}</span>
              </div>
            </div>
            <a class="dropdown" id="post-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="./images/down_arrow.png" width="18">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Delete Post</a>
              <a class="dropdown-item" href="#">Edit Post</a>
            </div>
          </div>
        </div>
        <div class="p-2 px-3"><span>{{post.title}}</span>
        </div>
        <div class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src={{post.content}}></div>
        <div class="d-flex justify-content-end socials p-2 py-3">
        </div>
      </div>
            <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
          <ul class="media-list">
          <li class="media">
            <img class="like" src="./images/heart.png" width="20">
          <medium class="align-items-center text-muted mb-3">{{numofLikes}}Likes</medium>
          </li>
          <li class="media">
            <a href="#" class="pull-left" id="comment-avatar">
              <img class="rounded-circle" src="./images/avatar.jpg" width="45">
            </a>
            <div class="media-body">
              <strong>{{post.user.username}}</strong>
              <span class="text-muted pull-right">
                  <small class="text-muted">{{post.created_at}}</small>
              </span>
              <a class="dropdown" id="x-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="./images/down_arrow.png" width="8">
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Delete Comment</a>
            </div>
              <p>
                {{>comment}}.
              </p>
            </div>
          </li>
        </ul>
      </div>